
/* Header.css */
.header {
  position: sticky;  /* Keeps it visible when scrolling */
  top: 0;
  left: 0;
  width: 100%;
  background-color: rgb(55, 54, 77);
  color: white;
  padding: 10px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 1000; /* Ensures it stays on top */
}

  
  .header .title h1 {
    margin: 0;
    font-size: 24px;
  }
  
  .header .menu ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
  }
  
  .header .menu ul li {
    margin-left: 20px;
  }
  
  .header .menu ul li a {
    text-decoration: none;
    color: white;
    font-size: 16px;
    transition: color 0.3s;
  }
  
  .header .menu ul li a:hover {
    color: #ddd;
  }
  
  .active-link {
    border-bottom: 3px solid rgb(0, 180, 174);
}